*{
    color: white;
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(20, 20, 20);
}

header {
    margin-bottom: -20px;
}

nav {
    display: flex;
    align-items: center;
    /* margin-left: 170px; */
    justify-content: space-between;
    margin: 0 auto;
    padding: 5em 7em;
}

nav>ol {
    display: flex;
    text-decoration: none;
    font-size: 20px;
}

nav>ol>li:hover{
    text-decoration: underline;
}

li{
    list-style-type: none;
    padding: 2em;
}

a {
    text-decoration: none !important;
}



h2{
    text-align: center;
    color: #30EB43;
    font-size: 5em;
}


.linha{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2em;
}

.item{
    width: 300px;
    display: block;
}

figcaption{
    font-size: 2em;
    text-align: center;
    margin-top: -2em;
}

.item:hover{
    text-decoration: underline;
}

figure>img{
    width: 300px;
    height: 300px;
}

.item>p{
    text-align: center;
    font-size: 20px;
    padding-bottom: 2em;
}

#Adicionar {
    /* color: black;
    background-color: #30EB43;
    border: none; */
    text-align: center;
    margin: 0 auto;
    color: black;
    background-color: #30EB43;
    height: 60px;
    width: 250px;
    font-size: 32px;
    border: none;
    border-radius: 10px;
    font-family: "coolvetica";
    margin-left: 25px;
}

#ultima{
    padding-bottom: 10em;
}











footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 191px;
    background-color: #11A756;
}

.rodapé{
    padding-top: 2em;
    margin-left: 170px;
    display: flex;
    align-items: center;
    text-align: center;
}

.rodapé>img{
    margin-right: 2em;
}

.rodapé>p{
    margin-top: 20px;
    margin-left: 2em;
    text-align: center;
    font-size: 20px;    
}

@media screen and (max-width: 999px){
    .linha{
        display: block;
    }
    .item{
        text-align: center;
        margin: 0 auto;
    }
}   