* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

a {
    color: white !important;
    text-decoration: none !important; /* Unifica a definição de texto decorado */
}

a:hover {
    text-decoration: underline !important;
    text-decoration-color: white;
}

body {
    background-color: rgb(20, 20, 20);
    color: white;
}

.pesquisa {
    margin: 0 auto;
    display: flex;
    font-family: 'Montserrat';
}

#busca, .search {
    width: 40em; /* Largura original para desktop */
    height: 3em;
    border: none;
    outline: 0;
    padding-left: 2em;
    padding-right: 2em;
}

.botão {
    border: none;
    width: 32px;
    height: 32px;
    margin-left: 10px;
}

input {
    vertical-align: middle;
}

header {
    margin-bottom: -20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 5em 0;
    margin-left: 170px;
}

nav > ol {
    display: flex;
    text-decoration: none;
    font-size: 20px;
}

nav > ol > li:hover {
    text-decoration: underline;
}

li {
    list-style-type: none;
    padding: 2em;
}

#Section1 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10em;
}

#Section1 > img {
    margin-top: 2em;
    margin-right: 170px;
}

.Texto1 {
    font-family: 'Coolvetica';
    margin-left: 170px;
    font-size: 50px;
}

.VerCatálogo {
    background-color: #30EB43;
    height: 60px;
    width: 250px;
    font-size: 32px;
    border: none;
    border-radius: 10px;
}

.VerCatálogo:hover {
    text-decoration: underline;
}

.Qualidade {
    margin-top: 50px;
    margin-bottom: -65px;
}

.Detalhe {
    color: #30EB43;
    font-size: 150px;
    margin-bottom: -50px;
}

.Sub {
    font-family: 'Montserrat';
    font-size: 28px;
}

svg {
    margin-right: 10px;
}

h2 {
    font-family: 'Coolvetica';
    font-size: 50px;
    text-decoration: underline;
}

#Section2 {
    padding: 10em 0;
}

#Section2 > h2 {
    text-align: center;
}

.Cards {
    padding-top: 2em;
    display: flex;
    justify-content: space-evenly;
}

.Card > p {
    text-align: center;
    font-size: 30px;
}

#Section3 {
    margin-left: 170px;
    padding-bottom: 5em;
}

.conteudo {
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
}

.conteudo > img {
    width: 720px;
    height: 514px;
    margin-right: 170px; 
    margin-left: 25em;
}

.conteudo > p {
    font-family: 'Montserrat';
}

.texto2 {
    width: 700px;
    font-size: 20px;
}

footer {
    width: 100%;
    height: 228px;
    background-color: #11A756;
}

.rodapé {
    padding-top: 3.5em;
    margin-left: 170px;
    display: flex;
    align-items: center;
    text-align: center;
}

.rodapé > img {
    margin-right: 2em;
}

.rodapé > p {
    margin-top: 20px;
    margin-left: 2em;
    text-align: center;
    font-size: 20px;
}

/* Media Queries para Responsividade */
@media screen and (max-width: 999px) {
    #busca, .search {
        width: 20em; /* Largura reduzida para mobile */
        margin-left: 2em;
    }

    #Section1 {
        display: block; /* Altera para block em telas menores */
        margin: 0 auto;
    }

    .Texto1 {
        text-align: center;
        margin-left: 0; /* Remove margem em telas menores */
    }

    .Cards {
        display: block; /* Muda para block */
        margin: 0 auto;
        text-align: center;
    }

    .Card {
        padding-bottom: 5em;
    }

    .conteudo {
        display: block; /* Muda para block */
    }

    h2 {
        text-align: center;
        margin-left: 0;
    }

    .texto2 {
        text-align: center;
        width: 35em; /* Largura reduzida */
        font-size: 20px;
    }

    .conteudo > img {
        width: 100%; /* Largura total */
        max-width: 720px; /* Largura máxima */
        height: auto; /* Mantém a proporção */
        margin-right: 0; 
        margin-left: 0;
    }

    #Section3{
        padding-right: 2em;
    }
}